.doctors-list {
  display: flex;
  gap: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1) !important;
  margin: 10px;
}
.doctors-list h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}
.doctors-list p {
  font-size: 16px;
  color: #666;
  margin: 5px 0;
}
